<% include ../partials/header.ejs %>
<script src="/Scripts/Chart.min.js"></script>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row" style="padding-bottom:180px;" >
        <div class="col-md-offset-3 col-md-6">
          <h3>Surveys Statistics</h3>
          <br>
          <table class="table table-bordered table-striped table-hover">
            <tr>
              <th class="text-center">Survey Topic</th>
              <th class="text-center">Ans1</th>
              <th class="text-center">count</th>
              <th class="text-center">Ans2</th>
              <th class="text-center">count</th>
              <th class="text-center">Ans3</th>
              <th class="text-center">count</th>
              <th class="text-center">Total</th>
              
            </tr>
            <!-- Template Row -->
            <% for (let count = 0; count < Object.keys(result).length; count++) {  var keys = Object.keys(result); var quest = result[keys[count]];var keys_ = Object.keys(quest) ;%>
            <tr>
              <td class="text-center"><%= quest['topic'] %></td>
              <td class="text-center"><%= keys_[3] %></td>
              <td class="text-center"><%= quest[keys_[3]] %></td>
              <td class="text-center"><%= keys_[4] %></td>
              <td class="text-center"><%= quest[keys_[4]] %></td>
              <td class="text-center"><%= keys_[5] %></td>
              <td class="text-center"><%= quest[keys_[5]] %></td>
              <td class="text-center"><%= quest['total'] %></td>
            </tr>
            
            <% } %>
          </table>
          <td class="text-center">
              <a href="/surveys/excel/<%= surveyID %>" class="btn btn-primary">
              <i class="fa fa-eye"></i> export</a>
          </td>
          <% for (let count = 0; count < Object.keys(result).length; count++) {  var keys = Object.keys(result); var quest = result[keys[count]];var keys_ = Object.keys(quest) ;%>
          <canvas id="myChart<%= count%>" width="300" height="300"></canvas>
          <script>
            let ctx<% = count%> = document.getElementById("myChart<%= count%>");
            let myChart<%= count%> = new Chart(ctx<%= count%>, {
                type: 'bar',
                data: {
                    labels: ["<%= keys_[3] %>", "<%= keys_[4] %>","<%= keys_[5] %>"],
                    datasets: [{
                        label: "<%= quest['topic'] %>",
                        data: [<%= quest[keys_[3]] %>, <%= quest[keys_[4]] %>, <%= quest[keys_[5]] %>],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            </script>
          <% } %>
        </div>
      </div>
    </div>


<% include ../partials/footer.ejs %>
